In [2]:
df = pd.read_csv("datasets/players_data-2024_2025.csv")
df.head()

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Att (GK),Thr,Launch%,AvgLen,Opp,Stp,Stp%,#OPA,#OPA/90,AvgDist
0,1,Max Aarons,eng ENG,DF,Bournemouth,eng Premier League,25.0,2000.0,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Max Aarons,eng ENG,MF,Valencia,es La Liga,25.0,2000.0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Rodrigo Abajas,es ESP,DF,Valencia,es La Liga,21.0,2003.0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,James Abankwah,ie IRL,"DF,MF",Udinese,it Serie A,21.0,2004.0,6,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Keyliane Abdallah,fr FRA,FW,Marseille,fr Ligue 1,18.0,2006.0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.columns

Index(['Rk', 'Player', 'Nation', 'Pos', 'Squad', 'Comp', 'Age', 'Born', 'MP',
       'Starts',
       ...
       'Att (GK)', 'Thr', 'Launch%', 'AvgLen', 'Opp', 'Stp', 'Stp%', '#OPA',
       '#OPA/90', 'AvgDist'],
      dtype='object', length=267)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2657 entries, 0 to 2656
Columns: 267 entries, Rk to AvgDist
dtypes: float64(106), int64(116), object(45)
memory usage: 5.4+ MB

In [5]:
df.describe()

,Rk,Age,Born,MP,Starts,Min,90s,Gls,Ast,G+A,...,Att (GK),Thr,Launch%,AvgLen,Opp,Stp,Stp%,#OPA,#OPA/90,AvgDist
count,2657.000000,2653.000000,2653.000000,2657.000000,2657.000000,2657.000000,2657.000000,2657.000000,2657.000000,2657.000000,...,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,178.000000
mean,1328.598043,25.730871,1998.433848,12.631916,8.975536,805.670681,8.950282,1.142642,0.803914,1.946556,...,359.033333,50.027778,33.231111,32.717222,164.794444,10.161111,6.075000,13.233333,1.149222,14.083708
std,766.737758,4.402875,4.400382,7.342575,7.430537,628.879582,6.987719,2.246729,1.359488,3.156343,...,261.332467,35.813675,12.659125,5.216892,118.576647,8.981772,4.154783,12.437149,0.855419,3.671283
min,1.000000,16.000000,1982.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,7.000000,0.000000,6.600000,20.800000,2.000000,0.000000,0.000000,0.000000,0.000000,4.700000
25%,665.000000,22.000000,1995.000000,6.000000,2.000000,214.000000,2.400000,0.000000,0.000000,0.000000,...,109.000000,16.000000,24.875000,29.400000,55.500000,3.000000,3.800000,3.000000,0.670000,12.000000
50%,1329.000000,25.000000,1999.000000,14.000000,8.000000,715.000000,7.900000,0.000000,0.000000,1.000000,...,363.000000,51.000000,31.700000,32.150000,145.000000,8.000000,5.600000,11.000000,1.000000,13.600000
75%,1992.000000,29.000000,2002.000000,19.000000,15.000000,1344.000000,14.900000,1.000000,1.000000,3.000000,...,559.500000,76.000000,40.650000,35.425000,266.000000,16.250000,7.900000,18.500000,1.500000,15.475000
max,2656.000000,42.000000,2008.000000,24.000000,24.000000,2160.000000,24.000000,21.000000,13.000000,34.000000,...,975.000000,132.000000,85.700000,50.900000,432.000000,39.000000,33.300000,89.000000,6.130000,28.000000

In [6]:
df.isnull().sum()

Rk            0
Player        0
Nation        3
Pos           0
Squad         0
           ...
Stp        2477
Stp%       2477
#OPA       2477
#OPA/90    2477
AvgDist    2479
Length: 267, dtype: int64

In [7]:
def grab_col_names(dataframe, cat_th=10,car_th=30):
    cat_cols = [col for col in dataframe.columns if dataframe[col].dtypes == "O"]
    num_but_cat = [col for col in dataframe.columns if dataframe[col].nunique()<cat_th and dataframe[col].dtypes!="O"]
    
    cat_but_car = [col for col in dataframe.columns if dataframe[col].nunique()>car_th and dataframe[col].dtypes=="O"]
    
    cat_cols = cat_cols + num_but_cat
    
    num_cols = [col for col in dataframe.columns if dataframe[col].dtypes!="O"]
    num_cols = [col for col in num_cols if col not in num_but_cat]
    
    return cat_cols, num_cols, cat_but_car

cat_cols, num_cols, cat_but_car = grab_col_names(df)
print(cat_cols)
print("****************")
print(num_cols)
print("****************")
print(cat_but_car)

['Player', 'Nation', 'Pos', 'Squad', 'Comp', 'Nation_stats_shooting', 'Pos_stats_shooting', 'Comp_stats_shooting', 'Age_stats_shooting', 'Nation_stats_passing', 'Pos_stats_passing', 'Comp_stats_passing', 'Age_stats_passing', 'Nation_stats_passing_types', 'Pos_stats_passing_types', 'Comp_stats_passing_types', 'Age_stats_passing_types', 'Nation_stats_gca', 'Pos_stats_gca', 'Comp_stats_gca', 'Age_stats_gca', 'Nation_stats_defense', 'Pos_stats_defense', 'Comp_stats_defense', 'Age_stats_defense', 'Nation_stats_possession', 'Pos_stats_possession', 'Comp_stats_possession', 'Age_stats_possession', 'Nation_stats_playing_time', 'Pos_stats_playing_time', 'Comp_stats_playing_time', 'Age_stats_playing_time', 'Nation_stats_misc', 'Pos_stats_misc', 'Comp_stats_misc', 'Age_stats_misc', 'Nation_stats_keeper', 'Pos_stats_keeper', 'Comp_stats_keeper', 'Age_stats_keeper', 'Nation_stats_keeper_adv', 'Pos_stats_keeper_adv', 'Comp_stats_keeper_adv', 'Age_stats_keeper_adv', 'PK', 'PKatt', 'CrdR', 'PK_stats_shooting', 'PKatt_stats_shooting', 'Str', 'Def', 'Err', 'CrdR_stats_misc', '2CrdY', 'PKwon', 'PKcon', 'OG', 'PKatt_stats_keeper', 'PKA', 'PKsv', 'PKm', 'PKA_stats_keeper_adv', 'FK_stats_keeper_adv', 'OG_stats_keeper_adv']
****************
['Rk', 'Age', 'Born', 'MP', 'Starts', 'Min', '90s', 'Gls', 'Ast', 'G+A', 'G-PK', 'CrdY', 'xG', 'npxG', 'xAG', 'npxG+xAG', 'PrgC', 'PrgP', 'PrgR', 'G+A-PK', 'xG+xAG', 'Rk_stats_shooting', 'Born_stats_shooting', '90s_stats_shooting', 'Gls_stats_shooting', 'Sh', 'SoT', 'SoT%', 'Sh/90', 'SoT/90', 'G/Sh', 'G/SoT', 'Dist', 'FK', 'xG_stats_shooting', 'npxG_stats_shooting', 'npxG/Sh', 'G-xG', 'np:G-xG', 'Rk_stats_passing', 'Born_stats_passing', '90s_stats_passing', 'Cmp', 'Att', 'Cmp%', 'TotDist', 'PrgDist', 'Ast_stats_passing', 'xAG_stats_passing', 'xA', 'A-xAG', 'KP', '1/3', 'PPA', 'CrsPA', 'PrgP_stats_passing', 'Rk_stats_passing_types', 'Born_stats_passing_types', '90s_stats_passing_types', 'Att_stats_passing_types', 'Live', 'Dead', 'FK_stats_passing_types', 'TB', 'Sw', 'Crs', 'TI', 'CK', 'In', 'Out', 'Cmp_stats_passing_types', 'Off', 'Blocks', 'Rk_stats_gca', 'Born_stats_gca', '90s_stats_gca', 'SCA', 'SCA90', 'PassLive', 'PassDead', 'TO', 'Sh_stats_gca', 'Fld', 'GCA', 'GCA90', 'Rk_stats_defense', 'Born_stats_defense', '90s_stats_defense', 'Tkl', 'TklW', 'Def 3rd', 'Mid 3rd', 'Att 3rd', 'Att_stats_defense', 'Tkl%', 'Lost', 'Blocks_stats_defense', 'Sh_stats_defense', 'Pass', 'Int', 'Tkl+Int', 'Clr', 'Rk_stats_possession', 'Born_stats_possession', '90s_stats_possession', 'Touches', 'Def Pen', 'Def 3rd_stats_possession', 'Mid 3rd_stats_possession', 'Att 3rd_stats_possession', 'Att Pen', 'Live_stats_possession', 'Att_stats_possession', 'Succ', 'Succ%', 'Tkld', 'Tkld%', 'Carries', 'TotDist_stats_possession', 'PrgDist_stats_possession', 'PrgC_stats_possession', '1/3_stats_possession', 'CPA', 'Mis', 'Dis', 'Rec', 'PrgR_stats_possession', 'Rk_stats_playing_time', 'Born_stats_playing_time', 'MP_stats_playing_time', 'Min_stats_playing_time', 'Mn/MP', 'Min%', '90s_stats_playing_time', 'Starts_stats_playing_time', 'Mn/Start', 'Compl', 'Subs', 'Mn/Sub', 'unSub', 'PPM', 'onG', 'onGA', '+/-', '+/-90', 'On-Off', 'onxG', 'onxGA', 'xG+/-', 'xG+/-90', 'Rk_stats_misc', 'Born_stats_misc', '90s_stats_misc', 'CrdY_stats_misc', 'Fls', 'Fld_stats_misc', 'Off_stats_misc', 'Crs_stats_misc', 'Int_stats_misc', 'TklW_stats_misc', 'Recov', 'Won', 'Lost_stats_misc', 'Won%', 'Rk_stats_keeper', 'Born_stats_keeper', 'MP_stats_keeper', 'Starts_stats_keeper', 'Min_stats_keeper', '90s_stats_keeper', 'GA', 'GA90', 'SoTA', 'Saves', 'Save%', 'W', 'D', 'L', 'CS', 'CS%', 'Rk_stats_keeper_adv', 'Born_stats_keeper_adv', '90s_stats_keeper_adv', 'GA_stats_keeper_adv', 'CK_stats_keeper_adv', 'PSxG', 'PSxG/SoT', 'PSxG+/-', '/90', 'Cmp_stats_keeper_adv', 'Att_stats_keeper_adv', 'Cmp%_stats_keeper_adv', 'Att (GK)', 'Thr', 'Launch%', 'AvgLen', 'Opp', 'Stp', 'Stp%', '#OPA', '#OPA/90', 'AvgDist']
****************
['Player', 'Nation', 'Squad', 'Nation_stats_shooting', 'Age_stats_shooting', 'Nation_stats_passing', 'Age_stats_passing', 'Nation_stats_passing_types', 'Age_stats_passing_types', 'Nation_stats_gca', 'Age_stats_gca', 'Nation_stats_defense', 'Age_stats_defense', 'Nation_stats_possession', 'Age_stats_possession', 'Nation_stats_playing_time', 'Age_stats_playing_time', 'Nation_stats_misc', 'Age_stats_misc', 'Nation_stats_keeper', 'Age_stats_keeper', 'Nation_stats_keeper_adv', 'Age_stats_keeper_adv']